 <table class='table'>
        <tr>
          <% if customer.image.attached? %>
            <%= image_tag customer.image %>
          <% else %>
            <%= image_tag 'no_image' %>
          <% end %>
        </tr>
        <tr>
          <th>名前</th>
          <th><%= customer.name %></th>
        </tr>
        <tr>
          <th>自己紹介</th>
          <th><%= customer.introduction %></th>
        </tr>
      </table>
      <div class='row'>
        <%= link_to '編集', edit_customer_path(customer) %>
      </div>