<table class='table'>
  <tr>
    <% if customer.image.attached? %>
      <%= image_tag customer.image, size: "100x100" %>
    <% else %>
      <%= image_tag 'no_image' %>
    <% end %>
  </tr>
  <tr>
    <th>名前</th>
    <th><%= customer.name %></th>
  </tr>
  <tr>
    <th>自己紹介</th>
    <th><%= customer.introduction %></th>
  </tr>
</table>
  <% if customer == current_customer %>
    <table class='table'>
      <tr>
        <th>フォロー</th>
        <th><%= link_to customer.followings.count,customer_followings_path(customer) %></th>
      </tr>
      <tr>
        <th>フォロワー</th>
        <th><%= link_to customer.followers.count,customer_followers_path(customer) %></th>
        </tr>
    </table>
      <%= link_to '編集', edit_customer_path(customer), class:"btn btn-outline-dark" %>
      <%=link_to"お気に入り", favorites_customer_path(customer), class:"btn btn-outline-dark" %>
  <% else %>
    <div class='row'>
      <table class='table'>
        <tr>
          <th>フォロー</th>
          <th><%= link_to customer.followings.count,customer_followings_path(customer) %></th>
        </tr>
        <tr>
          <th>フォロワー</th>
          <th><%= link_to customer.followers.count,customer_followers_path(customer) %></th>
        </tr>
      </table>
  <% unless current_customer == customer %>
    <% if current_customer.following?(customer) %>
      <%= link_to 'フォローを外す', customer_relationships_path(customer), method: :delete %>
    <% else %>
      <%= link_to 'フォローする', customer_relationships_path(customer), method: :post %>
    <% end %>
    <% end %>
    </div>
  <% end %>