<div class="container">
  <div class="col">
    <h1>会員一覧</h1>
  </div>
  <div class="d-flex flex-wrap ">
  <% @customers.each do |customer| %>
    <div class="col-3 my-2">
      <%= link_to customer_path(customer.id) do %>
    <div class="card text-dark h-100">
      <% if customer.image.attached? %>
        <%= image_tag customer.image, size: "150x150" %>
      <% else %>
      　<%= image_tag 'no_image.jpg' %>
      <% end %>
      <% end %>
    <div class="card-body">
      <h5 class="card-title">名前：<%= customer.name %></h5>
      <p class="card-text">自己紹介：<%= customer.introduction %></p>
      <p class="card-text">フォロー数: <%= customer.followings.count %></p>
      <p class="card-text">フォロワー数: <%= customer.followers.count %></p>
      <p class="card-text">
        <% if current_customer.following?(customer) %>
          <%= link_to "フォロー外す", customer_relationships_path(customer.id), method: :delete, class: "btn btn-outline-success" %>
        <% else %>
          <%= link_to "フォローする", customer_relationships_path(customer.id), method: :post, class: "btn btn-outline-success" %>
        <% end %>
      </p>
    </div>
    </div>
    </div>
  <% end %>
  </div>
    <h6><%= paginate @customers %></h6>
</div>