<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>マイページ</h2>
     <%= render 'info', customer: @customer %><br>
    <div class="actions">
     <%= link_to '新規投稿', new_drink_path, class:"btn btn-success" %>
    </div>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>ドリンク</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>写真</th>
            <th>名前</th>
            <th>説明</th>
          </tr>
        </thead>
        <tbody>
          <% @drinks.each do |drink| %>
          <tr>
            <td><%= link_to drink_path(drink) do %>
                  <% if drink.image.attached? %>
        　          <%= image_tag drink.image, size: "100x100" %>
                  <% else %>
        　          <%= image_tag 'no_image.jpg' %>
                  <% end %>
            </td>
            <td><%= link_to drink.name,drink %></td>
            <td><%= drink.introduction %></td>
            <td><%= link_to '編集', edit_drink_path(drink.id), class:"btn btn-info" %></td>
            <td><%= link_to '削除', drink_path(drink.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
