<div class="container">
  <% if @customers.exists? %>
    <h2>フォロー会員</h>
  <table class="table table-bordered">
    <tr class="table-active">
      <th>写真</th>
      <th>名前</th>
      <th>自己紹介</th>
      <th></th>
      <th></th>
    </tr>
    <% @customers.each do |customer| %>
    <tr>
      <td>
        <%= link_to customer_path(customer.id) do %>
          <% if customer.image.attached? %>
            <%= image_tag customer.image, size: "100x100" %>
          <% else %>
            <%= image_tag 'no_image.jpg' %>
          <% end %>
        <% end %>
      </td>
      <td><%= customer.name %></td>
      <td><%= customer.introduction %></td>
      <td>フォロー数: <%= customer.followings.count %></td>
      <td>フォロワー数: <%= customer.followers.count %></td>
    </tr>
    <% end %>
  </table>
    <h4><%= paginate @customers %></h4>
    <% else %>
      <h2>フォロワー会員はいません</h2>
    <% end %>
    <div class="actions">
      <%= link_to '戻る', customer_path(@customer.id), class:"btn btn-info" %>
    </div>
</div>