<div class="container">
  <h1>会員一覧</h1>
  <table class="table table-bordered">
    <thead>
      <tr class="table-active">
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to admin_customer_path(customer.id) do %>
                <%= customer.name %>
                <% end %>
            </td>
            <td><%= customer.email %></td>
            <td><% if customer.is_deleted == true %>
                  <%= "退会" %>
                 <% else %>
                  <%= "有効" %>
                 <% end %>
                 </td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>