<table>
      <tbody>
        <% drink.drink_comments.each do |drink_comment| %>
      <tr>
        <td>
          <%= link_to user_path(book_comment.user) do %>
          <%= image_tag drink_comment.customer.image, size:"100x100" %><br>
          <%= drink_comment.customer.name %>
          <% end %>
        </td>
        <td><%= drink_comment.comment %></td>
        <td>
          <% if drink_comment.customer == current_cusstomer %>
           <%= link_to "Destroy", drink_drink_comment_path(drink_comment.drink, drink_comment), method: :delete, class: "btn btn-danger pull-right", remote: true %>
          <% end %>
        </td>
      </tr>
        <% end %>
      </tbody>
    </table>