<div class="container">
  <h2>検索結果</h2>
  <table class="table table-bordered">
    <!--対象がCustomerの時 -->
    <% if @range == "Customer" %>
      <tr class="table-active">
        <th>会員写真</th>
        <th>会員名</th>
        <th>自己紹介</th>
      </tr>
      <% @customers.each do |customer| %>
        <tr>
          <th>
            <%= link_to admin_customer_path(customer.id) do %>
              <% if customer.image.attached? %>
      　        <%= image_tag customer.image, size: "100x100" %>
              <% else %>
      　        <%= image_tag 'no_image.jpg' %>
              <% end %>
            <% end %>
          </th>
          <th><%= customer.name %></th>
          <th><%= customer.introduction %></th>
        </tr>
      <% end %>
      <div>
        <h4><%= paginate @customers %></h4>
      </div>
    <% else %>
    <!--対象がDrinkの時 -->
    <tr class="table-active">
      <th>ドリンクの写真</th>
      <th>ドリンク名</th>
      <th>ドリンクの説明</th>
    </tr>
    <% @drinks.each do |drink| %>
      <tr>
        <th>
          <%= link_to admin_drink_path(drink.id) do %>
            <% if drink.image.attached? %>
        　    <%= image_tag drink.image, size: "100x100" %>
            <% else %>
        　    <%= image_tag 'no_image.jpg' %>
            <% end %>
          <% end %>
        </th>
        <th><%= drink.name %></th>
        <th><%= drink.introduction %></th>
      </tr>
    <% end %>
    <div>
      <h4><%= paginate @drinks %></h4>
    </div>
    <% end %>
  </table>
</div>