<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>投稿の編集</h2>
    <%= form_with model: @drink, local:true do |f| %>
      <div class="form-group">
        <%= f.label :ドリンク名 %>
        <%= f.text_field :name, class: "form-control name" %>
      </div>
     <div class="form-group">
        <%= f.label :ドリンクの写真 %>
        <%= f.file_field :image, class: "form-control-file image", accept: 'image/*' %>
      </div>
      <div class="form-group">
        <%= f.label :ドリンクの説明 %>
        <%= f.text_area :introduction, class: "form-control introduction" %>
      </div>
      <div class="form-group">
        <%= f.submit "変更する", class: 'btn btn-secondary' %>
      </div>
      <div class="form-group">
       <%= link_to '戻る', drink_path(@drink.id), class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>
