<div class="container">
  <div class="col">
    <h1>ドリンクの一覧</h1>
  </div>
  <!--ソート機能-->
  <p>
    <%= link_to '新しい順', drinks_path(latest: "true"), class: "btn btn-sm btn-outline-primary" %>
    <%= link_to '古い順', drinks_path(old: "true"), class: "btn btn-sm btn-outline-primary" %>
    <%= link_to '評価の高い順', drinks_path(star_count: "true"), class: "btn btn-sm btn-outline-primary" %>
  </p>
  <div class="d-flex flex-wrap ">
    <% @drinks.each do |drink| %>
      <div class="col-3 my-2">
        <%= link_to drink_path(drink.id) do %>
      <div class="card text-dark h-100">
        <% if drink.image.attached? %>
        　<%= image_tag drink.image, size: "100x100" %>
        <% else %>
        　<%= image_tag 'no_image.jpg' %>
        <% end %>
        <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= drink.name %></h5>
        <p class="card-text">説明：<%= drink.introduction %></p>
        <!--自然言語処理-->
        <span class="sentiment-score">感情での評価
        <% if drink.score.nil? %>
          <%= "😐" %>
        <% else %>
          <% if drink.score > 0 %>
            <%= "😄" %>
          <% elsif drink.score == 0 %>
            <%= "😐" %>
          <% else %>
            <%= "😞" %>
          <% end %>
        <% end %>
        </span>
        <p class="card-text">コメント件数 : <span id="comment_count"><%= drink.drink_comments.count %></span></p>
        <!--レビューの表示-->
        <p class="card-text">
          <td>
          <div id="star-rate<%= drink.id%>"></td>
          <script>
            $('#star-rate<%= drink.id %>').empty();
            $('#star-rate<%= drink.id %>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              half      : false,
              readOnly: true,
              score: <%= drink.star.blank? ? 0 : drink.star %>,
            });
          </script>
          </div>
        </p>
        <p class="card-text"><td><%= l drink.created_at %></td></p>
      </div>
      </div>
    </div>
      <% end %>
  <!--ページネーション-->
  </div>
    <h6><%= paginate @drinks, params: {latest: params[:latest], old: params[:old], star_count: params[:star_count]} %></h6>
</div>