<div class="container">
  <div class="col">
    <h1>ドリンクの一覧</h1>
  </div>
  <div class="d-flex flex-wrap ">
    <% @drinks.each do |drink| %>
      <div class="col-3 my-2">
        <%= link_to drink_path(drink.id) do %>
      <div class="card text-dark h-100">
        <% if drink.image.attached? %>
        　<%= image_tag drink.image, size: "150x150" %>
        <% else %>
        　<%= image_tag 'no_image.jpg' %>
        <% end %>
        <% end %>
      <div class="card-body">
        <h5 class="card-title">ドリンク名：<%= drink.name %></h5>
        <p class="card-text">説明文：<%= drink.introduction %></p>
        <p class="card-text">コメント件数 : <%= drink.drink_comments.count %></p>
        <p class="card-text">
          <td>
          <div id="star-rate<%= drink.id%>"></td>
          <script>
            $('#star-rate<%= drink.id %>').empty();
            $('#star-rate<%= drink.id %>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              half      : false,
              readOnly: true,
              score: <%= drink.star || 0 %>,
            });
          </script>
          </div>
        </p>
      </div>
      </div>
    </div>
      <% end %>
  </div>
    <h4><%= paginate @drinks %></h4>
</div>