<div class="container">
  <div class="row">
    <div class="col">
      <h1>ドリンクの詳細</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <tr>
        <th>
          <% if @drink.image.attached? %>
      　    <%= image_tag @drink.image, size: "300x300" %>
          <% else %>
      　    <%= image_tag 'no_image.jpg', size: "300x300" %>
          <% end %>
        </th>
        <p>会員名：<%= @customer.name %></p>
        <% if @customer == current_customer %>
          <p><%= link_to '編集', edit_drink_path(@drink.id), class: "btn btn-info" %></p>
        <% end %>
      </tr>
    </div>
    <div class="col">
      <dl class="dl">
        <dt>ドリンク名</dt>
          <dd><%= @drink.name %></dd>
        <dt>ドリンクの説明</dt>
          <dd> <%= @drink.introduction %></dd>
        <!--自然言語処理-->
        <span class="sentiment-score">感情での評価
        <% if @drink.score.nil? %>
          <%= "😐" %>
        <% else %>
          <% if @drink.score > 0 %>
            <%= "😄" %>
          <% elsif @drink.score == 0 %>
            <%= "😐" %>
          <% else %>
            <%= "😞" %>
          <% end %>
        <% end %>
        </span>
          <!--いいね機能 -->
          <dd id="favorite_buttons_<%= @drink.id %>">
          <%= render 'drink_favorite', drink: @drink %>
          </dd>
        <!--レビューの表示 -->
        <dt>
          <p>評価 :<%= @drink.star%>点</p>
        <div id="star-rate<%= @drink.id%>"></dt>
          <script>
            $('#star-rate<%= @drink.id %>').empty();
            $('#star-rate<%= @drink.id %>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              half      : false,
              readOnly: true,
              score: <%= @drink.star.blank? ? 0 : @drink.star %>,
             });
          </script>
          <dd>コメント件数 : <span id="comment_count"><%= @drink.drink_comments.count %></span></dd>
          <!--コメント機能 -->
          <div id="drink-comments">
            <%= render 'drink_comment', drink: @drink %>
          </div>
          <!-- コメントフォーム -->
          <div id="comment-form">
            <%= render 'form', drink: @drink, drink_comment: @drink_comment %>
          </div>
        </div>
      </dl>
    </div>
  </div>
</div>