<div class="container">
  <div class="row">
    <div class="col">
      <h1>ドリンクの詳細</h1>
    </div>
  </div>
  <div class="row">
    <dl class="col-4">
      <dt>
        <% if @drink.image.attached? %>
      　  <%= image_tag @drink.image, size: "300x300" %>
        <% else %>
      　  <%= image_tag 'no_image.jpg', size: "300x300" %>
        <% end %>
      </dt>
      <dt>会員名：<%= @customer.name %></dt>
    </dl>
    <div class="col">
      <dl class="dl">
        <dt>ドリンク名</dt>
          <dd><%= @drink.name %></dd>
        <dt>ドリンクの説明</dt>
          <dd> <%= @drink.introduction %></dd><br>
        <!--いいね機能 -->
        <%= render 'drink_favorite', drink: @drink %>
        <!--コメント機能-->
        <%= render 'drink_comment', drink: @drink %>
        <!-- コメントフォーム -->
        <%= render 'form', drink: @drink %>
      </dl>
    </div>
  </div>
</div>