<div class="container">
  <div class="row">
    <div class="col">
      <h1>ドリンクの詳細</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <br>
        <td>
          <% if @drink.image.attached? %>
        　  <%= image_tag @drink.image, size: "300x300" %>
          <% else %>
        　  <%= image_tag 'no_image.jpg', size: "300x300" %>
          <% end %>
        </td>
    </div>
    <div class="col">
      <dl class="dl">
        <dt>ドリンク名</dt>
          <dd><%= @drink.name %></dd>
        <dt>ドリンクの説明</dt>
          <dd> <%= @drink.introduction %></dd><br>
          <!--いいね機能 -->
          <dd>
            <% if @drink.favorited?(current_customer) %>
              <%= link_to drink_favorites_path(@drink.id), method: :delete, remote: true do %>
                ♥<%= @drink.favorites.count %>
              <% end %>
            <% else %>
              <%= link_to drink_favorites_path(@drink.id), method: :post, remote: true do %>
                ♡<%= @drink.favorites.count %>
              <% end %>
            <% end %>
          </dd><br>
    <!--コメント機能-->
    <table>
      <tbody>
        <% @drink.drink_comments.each do |drink_comment| %>
      <tr>
        <td>
          <%= link_to customer_path(drink_comment.customer) do %>
          <%= image_tag drink_comment.customer.image, size:"100x100" %><br>
          <%= drink_comment.customer.name %>
          <% end %>
        </td>
        <td><%= drink_comment.comment %></td>
        <td>
          <% if drink_comment.customer == current_customer %>
           <%= link_to "Destroy", drink_drink_comment_path(drink_comment.drink, drink_comment), method: :delete, class: "btn btn-danger pull-right", remote: true %>
          <% end %>
        </td>
      </tr>
        <% end %>
      </tbody>
    </table>
    <!-- コメントフォーム -->
 <%= form_with model: [@drink, @drink_comment],url: drink_drink_comments_path(@drink), method: :post, local: true do |f| %>
    <%= f.text_area :comment,class: "w-100  comment-textarea" %>
    <br><%= f.submit "送信" %>
  <% end %>

      </dl>
    </div>
  </div>
</div>