<div class="container">
  <div class="row">
    <div class="col">
      <h1>ドリンクの詳細</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <tr>
        <th>
          <% if @drink.image.attached? %>
      　    <%= image_tag @drink.image, size: "300x300" %>
          <% else %>
      　    <%= image_tag 'no_image.jpg', size: "300x300" %>
          <% end %>
        </th><br>
        <th>会員名：<%= @customer.name %></th>
      </tr>
    </div>
    <div class="col">
      <dl class="dl">
        <dt>ドリンク名</dt>
          <dd><%= @drink.name %></dd>
        <dt>ドリンクの説明</dt>
          <dd> <%= @drink.introduction %></dd>
          <!--いいね機能 -->
          <%= render 'drink_favorite', drink: @drink %>
        <!--レビュー機能 -->
        <dt>
          <p>評価 :<%= @drink.star%>点</p>
          <div id="star-rate<%= @drink.id%>"></dt>
          <script>
            $('#star-rate<%= @drink.id %>').empty();
            $('#star-rate<%= @drink.id %>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              half      : false,
              readOnly: true,
              score: <%= @drink.star || 0 %>,
             });
           </script>
           <dd>コメント件数 : <%= @drink.drink_comments.count %></dd>
        <!--コメント機能 -->
        <%= render 'drink_comment', drink: @drink %>
        <!-- コメントフォーム -->
        <%= render 'form', drink: @drink, drink_comment: @drink_comment %>
        </div>
      </dl>
    </div>
  </div>
</div>