<!DOCTYPE html>
<html>
  <head>
    <title>Beverage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
      <% if customer_signed_in? %>
        <li>
          <%= link_to customer_path(current_customer),class: 'nav-link text-light' do %>
            マイページ
            <% end %>
        </li>
        <li>
          <%=  link_to drinks_path,class: 'nav-link text-light' do %>
            ドリンク一覧
            <% end %>
          </li>
        <li>
          <%=  link_to new_drink_path ,class: 'nav-link text-light' do %>
            新規投稿
            <% end %>
        </li>
        <li>
           <%= link_to destroy_customer_session_path, method: :delete,class: 'nav-link text-light' do %>
            ログアウト
            <% end %>
        </li>
      <% end %>
      </ul>
    </div>
    </nav>
  </header>

  <body>
    <div class="container">
      <%= render 'layouts/flash_messages' %>
    </div>
    <%= yield %>
  </body>
</html>
